*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial,sans-serif;
}

body{
display:flex;
background:#0d0d0d;
color:white;
min-height:100vh;
}

.sidebar{
width:260px;
background:#131313;
padding:25px;
border-right:1px solid #222;
}

.logo{
margin-bottom:40px;
}

.logo h2{
color:#ff8c00;
margin-bottom:5px;
}

.logo span{
color:#999;
font-size:14px;
}

.sidebar ul{
list-style:none;
}

.sidebar li{
padding:15px;
margin-bottom:10px;
border-radius:12px;
cursor:pointer;
transition:.3s;
}

.sidebar li:hover,
.sidebar .active{
background:#ff8c00;
}

.content{
flex:1;
padding:30px;
}

.topbar{
display:flex;
justify-content:space-between;
align-items:center;
margin-bottom:30px;
}

.admin{
background:#181818;
padding:12px 20px;
border-radius:12px;
}

.cards{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(220px,1fr));
gap:20px;
margin-bottom:30px;
}

.card{
background:#181818;
padding:25px;
border-radius:16px;
border:1px solid #252525;
}

.card h3{
margin-bottom:15px;
color:#ccc;
}

.card span{
font-size:28px;
font-weight:bold;
color:#ff8c00;
}

.reservas{
background:#181818;
padding:25px;
border-radius:16px;
border:1px solid #252525;
}

.reservas h2{
margin-bottom:20px;
}

table{
width:100%;
border-collapse:collapse;
}

th,td{
padding:15px;
text-align:left;
border-bottom:1px solid #2a2a2a;
}

th{
color:#ff8c00;
}
