*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

body{
    display:flex;
    background:#0d0d0d;
    color:white;
}

.sidebar{
    width:260px;
    min-height:100vh;
    background:#141414;
    padding:30px;
    border-right:1px solid #222;
}

.sidebar h2{
    margin-bottom:40px;
}

.sidebar ul{
    list-style:none;
}

.sidebar li{
    padding:15px;
    margin-bottom:10px;
    background:#1c1c1c;
    border-radius:10px;
    cursor:pointer;
}

.sidebar li:hover{
    background:#ff8c00;
}

.main{
    flex:1;
    padding:40px;
}

.main h1{
    margin-bottom:30px;
}

.cards{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(220px,1fr));
    gap:20px;
}

.card{
    background:#141414;
    padding:25px;
    border-radius:15px;
    border:1px solid #222;
}

.card h3{
    margin-bottom:15px;
    color:#ff8c00;
}
