.grafico-box{
background:#111827;
padding:25px;
border-radius:18px;
border:1px solid #1f2937;
margin-bottom:30px;
}

.grafico-box h2{
margin-bottom:20px;
}

#graficoReservas{
width:100%;
max-height:350px;
}
